.Rproj.user
.Rhistory
.RData
.Ruserdata
predictions/Pacific hake_1.rds
predictions/Pacific hake_1_surveygrid.rds
predictions/Pacific hake_2.rds
predictions/Pacific hake_2_surveygrid.rds
predictions/Pacific hake_3.rds
predictions/Pacific hake_3_surveygrid.rds
predictions/Pacific hake_4.rds
predictions/Pacific hake_4_surveygrid.rds
predictions/Pacific hake_5.rds
predictions/Pacific hake_5_surveygrid.rds
predictions/Pacific hake_ranpars.rds
predictions/sablefish_0.rds
predictions/sablefish_0_surveygrid.rds
predictions/sablefish_1.rds
predictions/sablefish_1_surveygrid.rds
predictions/sablefish_2.rds
predictions/sablefish_2_surveygrid.rds
predictions/sablefish_3.rds
predictions/sablefish_3_surveygrid.rds
predictions/sablefish_4.rds
predictions/sablefish_4_surveygrid.rds
predictions/sablefish_5.rds
predictions/sablefish_5_surveygrid.rds
predictions/sablefish_6.rds
predictions/sablefish_6_surveygrid.rds
predictions/sablefish_7.rds
predictions/sablefish_7_surveygrid.rds
predictions/sablefish_8.rds
predictions/sablefish_8_surveygrid.rds
predictions/sablefish_9.rds
predictions/sablefish_9_surveygrid.rds
predictions/sablefish_ranpars.rds
